.container{
    width: 100%;
    height: 100%;
    background-color: pink;
    margin: 0 auto;
    /*margin top과 bottom은 0px , left와 right는 auto로 지정 */
    padding: 0px;
    border: 1px solid black;
    display : flex;
}

div{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
}

.justify-content-test{
    justify-content: space-evenly;
}

.flex-direction-test{
    flex-direction: column;
}

.align-items-test{
    flex-direction: column;
    align-items: center;
}

.order-test1{
    background-color: yellowgreen;
    order: 1;
}

.order-test2{
    background-color: yellow;
    order: -1;
}

.align-self-test{
    align-self: flex-start;
}

.flex-wrap-test{
    flex-wrap: wrap-reverse;
}

.flex-flow-test{
    align-items: flex-start;
    flex-flow: column wrap;
    height: 200px;
}

.align-content-test{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 300px;
}