/*CSS영역(스타일 정보 바로 기입)*/

/* 1. 속성 선택자----------------------------------------*/
/* div태그 중 name속성값이 name1과 "일치"하는 요소*/
div[name=name1]{
    background-color: orangered;
}

/* div중 name속성값에 name1이 포함되어 있는 요소(단어로써)*/
div[name~=name1]{
    background-color: yellow;
}

/* div중 class 속성값이 div로 시작하는 요소(-앞에 한 단어로써)*/
div[class|=div] {
    background-color: cyan;
}

/* div중 name 속성값이 na로 "시작"되는 요소*/
div[name^=na]{
    color: blue;
}

/* div중 class속성값이 ss로 "끝"나는 요소*/
div[class$=ss] {
    color: white;
}

/* div중 class속성값에 i가 "포함"되어 있는 요소*/
div[class*=i]{
    background-color: yellow;
    color: yellowgreen;
}

/* 실습 : clss속성값이 div-class인 애들 중 name속성값에name3가 단어로 포함되어있는 요소 -> 배경 핑크색으로 바꾸기*/
.div-class[name~=name3]{
    background-color: pink;
}


/*
    2. 자손, 후손 선택자----------------------------------------------------------------
*/

/* a>b : a요소의 자손들 중 b요소만 선택*/
#test1 > h4{
    background-color: blueviolet;
}

#test1>ul>li{
    background-color: darkcyan;
}

/*a b : a요소의 후손(모든 하위요소)들 중 b요소만을 선택하는 선택자*/
#test1 li{
    color: red;
    background-color: orange;
}

#test1 h4{
    color: white;
}




/* 3. 동위선택자--------------------------------*/
/* a+b :a요소 바로뒤에 b요소 하나만을 선택*/
#test2+div{
    background-color: yellow;
}

#test2+ul{
    background-color: pink;
    /*바로 뒤에 있는 요소가 아니기 때문에 반영되지 않음*/
}

/*a~b : a요소 뒤에있는 모든 b요소 선택*/
#test2~div{
   /* background-color: green;*/
}
#test2~ul{
    /*background-color: deeppink;*/
}




/* 4. 반응 선택자----------------------------------*/
.area{
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
}

/* 해당 요소를 클릭 할 수 있도록 마우스 커서를 변경시켜줌(손모양으로)*/
#active-test{
    cursor: pointer;
}

#active-test:active{
    background-color: pink;
    color: red;
    
}

#hover-test:hover{
    cursor: pointer;
    background-color: beige;
    color: brown;
}



/* 5. 상태 선택자-----------------------------------*/
/*기본적으로 해당 선택된 요소 자체에 스타일 반영*/
input[type=checkbox]:checked{
    width: 20px;
    height: 20px;
}

input[type=checkbox]:checked+label{
    font-size: 20px;
}


/* input요소중 name속성의 값이  user로 시작하는 요소를 선택한 후 focus상태일 경우에만 스타일 부여*/
input[name^=user]:focus{
    background-color: pink;
}

button:enabled{
    background-color: palevioletred;
}

button:disabled{
    background-color: rgb(191, 149, 221);
}